*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px 15px;
    background-color: hsl(30, 38%, 92%);

}

.page{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    max-width: 600px;

}

h1{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
    opacity: 0.8;
    margin: 0.3em 0;
}

p{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    opacity: 0.6;
    font-weight: 500;
}


/* photo */


.pic{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.pic2{
    display: none;
}


/* info */

.info{
    padding:1.7em;
}

.mainp{
    margin-bottom: 1em;
    margin-top: 1em;
}

.prices{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.price{
    color:hsl(158, 36%, 37%);
    opacity: 1;
    margin-right: 0.5em;
}

.button{
    color: white;
    background-color: hsl(158, 36%, 37%);
    text-align: center;
    opacity: 1;
    padding: 1em;
    border-radius: 10px;
}

.button:hover{
    background-color: hsl(157, 24%, 19%);
}

/* Desktop */

@media screen and (min-width: 784px){
    .page{
        display: flex;
    }

    .photo{
        width: 300px;
    }

    .info{
        width: 300px;
        padding: 2em;
    }

    .pic{
        display: none;
    }

    .pic2{
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 10px 0 0 10px;
    }

    .prices{
        margin-bottom: 1em;
    }

    .huge{
        margin: 0.7em 0;
    }
}